@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 166, 166);
}
ul li{
    display: inline-block;
    margin: 2em 1em 0 1em;
    list-style-type: none;
}