@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Common styles for all pages */
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 23px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 166, 166);
}
ul li{
    display: inline-block;
    margin: 2em 1em 0 1em;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
a:visited{
    color: black;
}
section{
    text-align: center;
}
.header{
    font-size: 2em;
}

.each-question{
    margin: 3em 0;
}
#btn-submit{
    padding: 1em;
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    margin-top: -20px;
    background:rgb(255, 98, 98);
}