@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Common styles for all pages */
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 23px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 166, 166);
}
ul li{
    display: inline-block;
    margin: 2em 1em 0 1em;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
a:visited{
    color: black;
}

/* common styling for section*/
section{
    text-align: center;
}
.header{
    font-size: 2em;
}
.each-question{
    margin: 3em 0;
}
.footer{
    margin: 1em 0;
}
.error{
    color: red;
}
.success{
    color: rgb(13, 151, 13);
}

/* Is Triangle styles */
.angle-input{
    margin: 1em;
}
input[type=number]{
    border: 1px solid rgb(255, 166, 166);
    padding: 1em;
    margin: 1em;
    width: 15%;
    border-radius: 10px;
}
input[type=number]:focus{
    outline: none;
}

/* Common button styles */
#btn-submit-quiz, #btn-submit-triangle, #btn-submit-hypo, #btn-submit-area{
    padding: 1em;
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    margin-top: -20px;
    background:rgb(252, 153, 153);
    cursor:pointer;
}  
#output-hypotenuse, #output-triangle, #output-area, #output-result{
    padding-bottom: 5em;
}

